<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<title>Main Account Page</title>
</head>
<body>

	<div class="header--container"> 
		<h1 class="header--title">Accounts Management</h1>
		<div class="headerbuttons--container">
			<form action="/index" class="headerform--buttons"><input type="submit" value="Main Menu" class="header--buttons"></form>
			<form action="/summary" class="headerform--buttons"><input type="submit" value="Account Summary" class="header--buttons"></form>
			<form action="/details" class="headerform--buttons"><input type="submit" value="Account Details" class="header--buttons"></form>
			<form action="/editTransaction" class="headerform--buttons"><input type="submit" value="Add New Transaction" class="header--buttons"></form>
			<form action="/logout" method="post" class="headerform--buttons"><input type="submit" value="Logout" class="header--buttons"></form>
			</div>
	</div>


	<h1 class="welcome">Welcome <%= @name %>!</h1>

</body>
</html>